/**
 * Float Layout Activity


2. Your CSS should have styles for each of the following elements:
   * Body
     L38: font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
     L37: color: '#777'
     L39: background: '#777'
     L40 width: '960px'
     L41 font-size: '18px'
   * Header, Nav, Section, Aside, and Footer
     * background: '#ebebeb'
   * Article
     * color: '#ebebeb',
     * background: '#777'
   * h1 and p
     * color: '#777',
     * background: '#ebebeb'
3. The width of the section should be:
   * section: 495px

 **/

 

 * {
  box-sizing: border-box;
  text-align: center;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: normal;
}

body {
  font-size: 18px;
  line-height: 32px;
  color:#777;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background:#777;
  width: '960px';
  font-size: '18px';
}

h1 {
    background: #ebebeb;
    color:  #777;
    font-weight: normal;
    /* font-size: '18px' */
  }
  


header {
  /*border-width: 0 0 0 20px;*/
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
  margin-bottom: 20px;
  /* color: dimgray; */
  background: #ebebeb
}

#nav {
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px;
  margin-bottom: 20px;
  /* color: dimgray; */
  background:#ebebeb;
}

#section {
  overflow: auto; 
  float: left;
  width: 495px;
  height: 350px;
  /* color: dimgray; */
  background:#ebebeb;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 10px;
  overflow: auto
}

  #article {
  position: relative;
  padding: 10px;
  margin-top: 10px;
  background: #777 !important;
  /* color:  #ebebeb !important;   */
  width: 90%;
  float: center;
  margin-left: 20px;
  overflow: auto
} 

#articletext {

  /* position: relative;
  padding: 10px;
  margin-top: 10px; */
  background: #777 !important;
  color:  #ebebeb !important; 
  /* width: 90%;
  float: center;
  margin-left: 20px; */

}
  /* *specify relative position css*  */



#nested-h {
  padding: 10px;
  margin-bottom: 10px;
  color: #777;
  background: #ebebeb;
  /* font-weight: bold; */
  
}

#nested-hText {
  /* padding: 10px;
  margin-bottom: 10px;
  color: #777;
  background: #ebebeb; */
  font-weight: bold;
  
}


#nested-p {
  padding: 10px;
  margin-bottom: 10px;
  color: #777;
  background: #ebebeb;
}

aside {
  float: right;
  width: 33%;
  height: 350px;
  padding: 20px;
  margin-right: 100px;
  color: #777;
  background:#ebebeb;
  border: 1px solid #ebebeb;
  margin-bottom: 20px;
}

footer {
  padding: 20px;
  clear: both;
  color: #777;
  background: #ebebeb;
  margin-left: 100px;
  margin-right: 100px;
}
